<div class="container">
	<ul class="border-top" style="list-style-type:none">
		<li ng-repeat="busRegion in busReportData">
			<list-toggle>
				<div class="toggleDropdown waves-effect waves-light">
					<a>{{busRegion.organisation}}-{{busRegion.date}}</a>
				</div>
				<div class="dropdownDiv clearfix">
					<table class="table table-striped">
						<tr>
							<th>Bus ID</th>
							<th>Route Variant</th>
							<th>Status</th>
						</tr>

						<tr ng-repeat = "bus in busRegion.busData">
							<td>{{ bus.busId }}</td>
							<td>{{ bus.routeVariant }}</td>
							<td>{{ bus.deviationFromTimetable }}</td>
						</tr>
					</table>
				</div>
			</list-toggle>
		</li>
	</ul>
</div>
